<%= form_for(@delphi_estimation) do |f| %>
  <% if @delphi_estimation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delphi_estimation.errors.count, "error") %> prohibited this delphi_estimation from being saved:</h2>

      <ul>
      <% @delphi_estimation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :p_id %><br>
    <%= f.number_field :p_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
