<p id="notice"><%= notice %></p>

<h1>Listing Delphi Estimations</h1>

<table>
  <thead>
    <tr>
      <th>P</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delphi_estimations.each do |delphi_estimation| %>
      <tr>
        <td><%= delphi_estimation.p_id %></td>
        <td><%= link_to 'Show', delphi_estimation %></td>
        <td><%= link_to 'Edit', edit_delphi_estimation_path(delphi_estimation) %></td>
        <td><%= link_to 'Destroy', delphi_estimation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delphi estimation', new_delphi_estimation_path %>
