
<%project = Project.find_by_id(@roadmap.p_id) %>
<h1>
  <%= project.name+'-Roadmap' %>
  <%= link_to 'Projekt', project_path(@roadmap), :id=>'btn', :class=> 'btn btn-sm btn-danger pull-right'%>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Arbeitspaket</th>
      <th>Datum</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
  	<% milestones = Milestone.where(roadmap_id: @roadmap.id) %>
  	<% milestones = milestones.sort_by &:date %>
    <% milestones.each do |milestone| %>
      <tr>
        <td><%= Component.find(milestone.component_id).name%></td>

        <td><%= milestone.date.to_date.strftime("%d.%m.%Y") %></td>
        <td><%= link_to 'Edit', edit_milestone_path(milestone) %></td>
        <td><%= link_to 'Destroy', milestone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id='timeline'></div>
<%= render_chart @timeline, 'timeline' %>