<p id="notice"><%= notice %></p>

<p>
  <strong>Cname:</strong>
  <%= @component.cName %>
</p>

<p>
  <strong>Cnumber:</strong>
  <%= @component.cNumber %>
</p>

<p>
  <strong>M:</strong>
  <%= @component.m_id %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
