<p id="notice"><%= notice %></p>
<%project = Project.find_by_id(@product_breakdown_structure.p_id) %>
<h1><%= project.name+'-PBS' %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Teilprodukt</th>
      <th>Modul</th>
      <th>Komponente</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
  <tr class="success">
	    <td><%=project.name %></td>
	    <td><% @subproduct = Subproduct.new %>
	    	<div class = "form-inline">
	    		<%= form_for(@subproduct) do |f| %>
  				<%= f.hidden_field :pbs_id, :value => @product_breakdown_structure.id %> 
  				<div class="form-group">
	  				<div class="field">
	    				<%= f.text_field :name, :class => "form-control input-sm"%>
	  				</div>
  				</div>
	  			<div class="form-group">
	  				<div class="actions">
	  					<%= f.submit "Anlegen", class: "btn btn-xs btn-success" %>
	  				</div>
  				</div>
				<% end %>
			</div>
	    </td>
	    <td colspan="3"></td>
	</tr>
	<% subproducts = Subproduct.where(pbs_id: @product_breakdown_structure.id) %>
	<% subproductNumber = 0 %>
	<% subproducts.each do |subproduct| %>
	<tr class="info">
		<% subproductNumber = subproductNumber+1 %>
	    <td><%=subproductNumber %></td>
	    <td><%=subproduct.name %></td>
	    <td><% @modul = Modul.new %>
	    	<div class = "form-inline">
	    		<%= form_for(@modul) do |f| %>
  				<%= f.hidden_field :subproduct_id, :value => subproduct.id %> 
  				<div class="form-group">
	  				<div class="field">
	    				<%= f.text_field :name, :class => "form-control input-sm"%>
	  				</div>
  				</div>
	  			<div class="form-group">
	  				<div class="actions">
	  					<%= f.submit "Anlegen", class: "btn btn-xs btn-success" %>
	  				</div>
  				</div>
				<% end %>
			</div>
	    </td>
	    <td colspan="1"></td>
	    <td><%= link_to 'Löschen', subproduct, method: :delete, data: { confirm: 'Sind Sie sicher?' }, :class=> 'btn btn-xs btn-danger' %></td>
	</tr>
	<% moduls = Modul.where(subproduct_id: subproduct.id) %>
	<% modulNumber = 0 %>
	<% moduls.each do |modul| %>
	<tr class="warning">
		<% modulNumber = modulNumber+1 %>
	    <td></td>
	    <td><%=subproductNumber.to_s+'.'+modulNumber.to_s %></td>
	    <td><%=modul.name %></td>
	    <td><% @component = Component.new %>
	    	<div class = "form-inline">
	    		<%= form_for(@component) do |f| %>
  				<%= f.hidden_field :modul_id, :value => modul.id %> 
  				<div class="form-group">
	  				<div class="field">
	    				<%= f.text_field :name, :class => "form-control input-sm"%>
	  				</div>
  				</div>
	  			<div class="form-group">
	  				<div class="actions">
	  					<%= f.submit "Anlegen", class: "btn btn-xs btn-success" %>
	  				</div>
  				</div>
				<% end %>
			</div>
		</td>
	    <td><%= link_to 'Löschen', modul, method: :delete, data: { confirm: 'Sind Sie sicher?' }, :class=> 'btn btn-xs btn-danger' %></td>
	</tr>
	    <% components = Component.where(modul_id: modul.id) %>
	    <% componentNumber = 0 %>
	    <% components.each do |component| %>
	<tr>
		<% componentNumber = componentNumber+1 %>
		<td colspan="2"></td>
	    <td><%=subproductNumber.to_s+'.'+modulNumber.to_s+'.'+componentNumber.to_s %></td>
	    <td><%=component.name %></td>
	    <td><%= link_to 'Löschen', component, method: :delete, data: { confirm: 'Sind Sie sicher?' }, :class=> 'btn btn-xs btn-danger' %></td>
	  </td>
	</tr>
	<% end %>
	<% end %>
	<% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_product_breakdown_structure_path(@product_breakdown_structure) %> |
<%= link_to 'Back', product_breakdown_structures_path %>
