
<%project = Project.find_by_id(@resource_allocation_matrix.p_id) %>
<h1>
	<%= project.name+'-RAM' %>
	<%= link_to 'Projekt', project_path(@resource_allocation_matrix), :id=>'btn', :class=> 'btn btn-sm btn-danger pull-right'%>
	<%= link_to 'Bearbeiten', edit_resource_allocation_matrix_path(@resource_allocation_matrix), :id=> 'btn', :class=> 'btn btn-sm btn-success pull-right'%>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Gesamtaufgabe</th>
      <th>Aufgabe</th>
      <th>Teilaufgabe</th>
      <th>Arbeitspaket</th>
      <th>Einsatzmittel</th>
      <th>Komponente</th>
    </tr>
  </thead>
  <tbody>
  	<tr id="uno">
	    <td><%=project.name %></td>
	    <td colspan="5"></td>
	</tr>
	<% tasks = Task.where(wbs_id: WorkBreakdownStructure.find_by_id(@resource_allocation_matrix.p_id).id) %>
	<% taskNumber = 0 %>
	<% tasks.each do |task| %>
	<tr id="dos">
		<% taskNumber = taskNumber+1 %>
	    <td><%=taskNumber %></td>
	    <td><%=task.name %></td>
	    <td colspan="4"></td>
	</tr>
	<% subtasks = Subtask.where(task_id: task.id) %>
	<% subtaskNumber = 0 %>
	<% subtasks.each do |subtask| %>
	<tr id="tres">
		<% subtaskNumber = subtaskNumber+1 %>
	    <td></td>
	    <td><%=taskNumber.to_s+'.'+subtaskNumber.to_s %></td>
	    <td><%=subtask.name %></td>
	    <td colspan="3"></td>
	</tr>
	    <% workpackages = Workpackage.where(subtask_id: subtask.id) %>
	    <% workpackageNumber = 0 %>
	    <% workpackages.each do |workpackage| %>
	<tr>
		<% workpackageNumber = workpackageNumber+1 %>
		<td colspan="2"></td>
	    <td><%=taskNumber.to_s+'.'+subtaskNumber.to_s+'.'+workpackageNumber.to_s %></td>
	    <td><%=workpackage.name %></td>
	 	<td>
	 		<% resource = Resource.find_by_id((RamEntry.find_by workpackage_id: workpackage.id).resource_id) %>
	 		<%= if resource then resource.qualification end %>
	 	</td>
	 	<td>
	 		<% component = Component.find_by_id((RamEntry.find_by workpackage_id: workpackage.id).component_id) %>
	 		<%= if component then component.name end %>

	 	</td>
	</tr>
	<% end %>
	<% end %>
	<% end %>
  </tbody>
</table>