<%= form_for(@ram_entry) do |f| %>
  <% if @ram_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ram_entry.errors.count, "error") %> prohibited this ram_entry from being saved:</h2>

      <ul>
      <% @ram_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ram_id %><br>
    <%= f.number_field :ram_id %>
  </div>
  <div class="field">
    <%= f.label :workpackage_id %><br>
    <%= f.number_field :workpackage_id %>
  </div>
  <div class="field">
    <%= f.label :component_id %><br>
    <%= f.number_field :component_id %>
  </div>
  <div class="field">
    <%= f.label :resource_id %><br>
    <%= f.number_field :resource_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
