<p id="notice"><%= notice %></p>

<p>
  <strong>Ram:</strong>
  <%= @ram_entry.ram_id %>
</p>

<p>
  <strong>Workpackage:</strong>
  <%= @ram_entry.workpackage_id %>
</p>

<p>
  <strong>Component:</strong>
  <%= @ram_entry.component_id %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @ram_entry.resource_id %>
</p>

<%= link_to 'Edit', edit_ram_entry_path(@ram_entry) %> |
<%= link_to 'Back', ram_entries_path %>
