<h2>
  Bitte tragen Sie Ihren Namen ein
  <%= link_to 'Zurück zur Rundenübersicht', DelphiEstimation.find_by_id(Round.find_by_id(@expert_form.round_id).delphiEstimation_id), :id=>'btn', :class=> 'btn btn-sm btn-danger pull-right'%>
</h2>

<%= form_for(@expert_form) do |f| %>
  <% if @expert_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expert_form.errors.count, "error") %> prohibited this expert_form from being saved:</h2>

      <ul>
      <% @expert_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "form-inline">
 <div class="form-group">
  <%= f.hidden_field :round_id, :value => @expert_form.round_id %>
 </div>
<div class="field" id="new">
    <%= f.text_field :expertName, :class => "form-control", placeholder:"Ihren Namen eintragen" %>
</div> 

<%= f.submit "Weiter zur Schätzung", class: "btn btn-sm btn-success" %>
<% end %>
