

<h1>Listing Subproducts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pbs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subproducts.each do |subproduct| %>
      <tr>
        <td><%= subproduct.name %></td>
        <td><%= subproduct.pbs_id %></td>
        <td><%= link_to 'Show', subproduct %></td>
        <td><%= link_to 'Edit', edit_subproduct_path(subproduct) %></td>
        <td><%= link_to 'Destroy', subproduct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subproduct', new_subproduct_path %>
