<p id="notice"><%= notice %></p>

<h1>Listing Workpackages</h1>

<table>
  <thead>
    <tr>
      <th>Wpnumber</th>
      <th>Wpname</th>
      <th>St</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workpackages.each do |workpackage| %>
      <tr>
        <td><%= workpackage.wpNumber %></td>
        <td><%= workpackage.wpName %></td>
        <td><%= workpackage.st_id %></td>
        <td><%= link_to 'Show', workpackage %></td>
        <td><%= link_to 'Edit', edit_workpackage_path(workpackage) %></td>
        <td><%= link_to 'Destroy', workpackage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workpackage', new_workpackage_path %>
