<p id="notice"><%= notice %></p>

<p>
  <strong>Stnumber:</strong>
  <%= @subtask.stNumber %>
</p>

<p>
  <strong>Stname:</strong>
  <%= @subtask.stName %>
</p>

<p>
  <strong>T:</strong>
  <%= @subtask.t_id %>
</p>

<%= link_to 'Edit', edit_subtask_path(@subtask) %> |
<%= link_to 'Back', subtasks_path %>
