<%= form_for(@modul) do |f| %>
  <% if @modul.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@modul.errors.count, "error") %> prohibited this modul from being saved:</h2>

      <ul>
      <% @modul.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subproduct_id %><br>
    <%= f.number_field :subproduct_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
