<p id="notice"><%= notice %></p>

<p>
  <strong>Mname:</strong>
  <%= @modul.mName %>
</p>

<p>
  <strong>Mnumber:</strong>
  <%= @modul.mNumber %>
</p>

<p>
  <strong>Sp:</strong>
  <%= @modul.sp_id %>
</p>

<%= link_to 'Edit', edit_modul_path(@modul) %> |
<%= link_to 'Back', moduls_path %>
