<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reNumber %><br>
    <%= f.number_field :reNumber %>
  </div>
  <div class="field">
    <%= f.label :reQualification %><br>
    <%= f.text_field :reQualification %>
  </div>
  <div class="field">
    <%= f.label :reExperience %><br>
    <%= f.text_field :reExperience %>
  </div>
  <div class="field">
    <%= f.label :reQuantity %><br>
    <%= f.text_field :reQuantity %>
  </div>
  <div class="field">
    <%= f.label :ro_id %><br>
    <%= f.number_field :ro_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
