<p id="notice"><%= notice %></p>

<p>
  <strong>Renumber:</strong>
  <%= @resource.reNumber %>
</p>

<p>
  <strong>Requalification:</strong>
  <%= @resource.reQualification %>
</p>

<p>
  <strong>Reexperience:</strong>
  <%= @resource.reExperience %>
</p>

<p>
  <strong>Requantity:</strong>
  <%= @resource.reQuantity %>
</p>

<p>
  <strong>Ro:</strong>
  <%= @resource.ro_id %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
