<%project = Project.find_by_id(@resource_breakdown_structure.p_id) %>
<h1>
	<%= project.name+'-RBS' %>
	<%= link_to 'Zurück', resource_breakdown_structure_path, :id=>'btn', :class=> 'btn btn-sm btn-danger pull-right'%>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Projekt</th>
      <th>Art</th>
      <th>Rolle</th>
      <th>Qualifikation</th>
      <th>Erfahrung</th>
      <th>Vollzeitäquivalenz</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
  <tr id="uno">
	    <td><%=project.name %></td>
	    <td><% @type = Type.new %>
	    	<div class = "form-inline">
	    		<%= form_for(@type) do |f| %>
  				<%= f.hidden_field :rbs_id, :value => @resource_breakdown_structure.id %> 
  				<div class="form-group">
	  				<div class="field">
	    				<%= f.text_field :name, :class => "form-control input-sm", :placeholder => "Neue Art"%>
	  				</div>
  				</div>
			</div>
	    </td>
	    <td>
	    	<div class="form-group">
	  				<div class="actions">
	  					<%= f.submit "Anlegen", class: "btn btn-xs btn-success" %>
	  				</div>
  				</div>
				<% end %>
		</td>
	    <td colspan="4"></td>
	</tr>
	<% types = Type.where(rbs_id: @resource_breakdown_structure.id) %>
	<% typeNumber = 0 %>
	<% types.each do |type| %>
	<tr id="dos">
		<% typeNumber = typeNumber+1 %>
	    <td id="middle"><%=typeNumber %></td>
	    <td id="middle"><%=type.name %></td>
	    <td id="middle"><% @role = Role.new %>
	    	<div class = "form-inline">
	    		<%= form_for(@role) do |f| %>
  				<%= f.hidden_field :type_id, :value => type.id %> 
  				<div class="form-group">
	  				<div class="field">
	    				<%= f.text_field :name, :class => "form-control input-sm", :placeholder => "Neue Rolle"%>
	  				</div>
  				</div>
			</div>
	    </td>
	    <td id="middle">
	    	<div class="form-group">
	  				<div class="actions">
	  					<%= f.submit "Anlegen", class: "btn btn-xs btn-success" %>
	  				</div>
  				</div>
				<% end %>
		</td>
	    <td colspan="2"></td>
	    <td id="middle"><%= link_to 'Löschen', type, method: :delete, data: { confirm: 'Sind Sie sicher?' }, :class=> 'btn btn-xs btn-danger' %></td>
	</tr>
	<% roles = Role.where(type_id: type.id) %>
	<% roleNumber = 0 %>
	<% roles.each do |role| %>
	<tr id="tres">
		<% roleNumber = roleNumber+1 %>
	    <td></td>
	    <td id="middle"><%=typeNumber.to_s+'.'+roleNumber.to_s %></td>
	    <td id="middle"><%=role.name %></td>
	    <td colspan="3"></td>
	    <td><%= link_to 'Löschen', role, method: :delete, data: { confirm: 'Sind Sie sicher?' }, :class=> 'btn btn-xs btn-danger' %></td>
	</tr>
	<tr>
		<td colspan="3"></td>
		<td id="middle"><% @resource = Resource.new %>
	    	<div class = "form-inline">
	    		<%= form_for(@resource) do |f| %>
  				<%= f.hidden_field :role_id, :value => role.id %> 
  				<div class="form-group">
	  				<div class="field">
	    				<%= f.text_field :qualification, :class => "form-control input-sm", :placeholder => "Neue Qualifikation"%>
	    				<td id="middle"><%= f.text_field :experience, :class => "form-control input-sm", :placeholder => "Neue Erfahrung"%></td>
	    				<td id="middle"><%= f.number_field :quantitiy, :class => "form-control input-sm", :placeholder => "Neue Vollzeitäquivalenz"%></td>
	  				</div>
  				</div>
	  			<div class="form-group">
	  				<div class="actions">
	  					<td><%= f.submit "Anlegen", class: "btn btn-xs btn-success" %></td>
	  				</div>
  				</div>
				<% end %>
			</div>
		</td>
	</tr>
	    <% resources = Resource.where(role_id: role.id) %>
	    <% resourceNumber = 0 %>
	    <% resources.each do |resource| %>
	<tr>
		<% resourceNumber = resourceNumber+1 %>
		<td colspan="2"></td>
	    <td id="middle"><%=typeNumber.to_s+'.'+roleNumber.to_s+'.'+resourceNumber.to_s %></td>
	    <td id="middle"><%=resource.qualification %></td>
	    <td id="middle"><%=resource.experience %></td>
	    <td id="middle"><%=resource.quantitiy.to_i %></td>
	    <td id="middle"><%= link_to 'Löschen', resource, method: :delete, data: { confirm: 'Sind Sie sicher?' }, :class=> 'btn btn-xs btn-danger' %></td>
	  </td>
	</tr>	
	<% end %>
	<% end %>
	<% end %>
  </tbody>
</table>