<p id="notice"><%= notice %></p>
<%project = Project.find_by_id(@resource_breakdown_structure.p_id) %>
<h1><%= project.name+'-RBS' %></h1>

<%= link_to 'Anzeigen', @resource_breakdown_structure %>

<table class="table">
  <thead>
    <tr>
      <th>Projekt</th>
      <th>Art</th>
      <th>Rolle</th>
      <th>Qualifikation</th>
      <th>Erfahrung</th>
      <th>Vollzeitäquivalenz</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
  <tr class="success">
	    <td><%=project.name %></td>
	    <td><% @type = Type.new %>
	    	<div class = "form-inline">
	    		<%= form_for(@type) do |f| %>
  				<%= f.hidden_field :rbs_id, :value => @resource_breakdown_structure.id %> 
  				<div class="form-group">
	  				<div class="field">
	    				<%= f.text_field :name, :class => "form-control input-sm"%>
	  				</div>
  				</div>
	  			<div class="form-group">
	  				<div class="actions">
	  					<%= f.submit "Anlegen", class: "btn btn-xs btn-success" %>
	  				</div>
  				</div>
				<% end %>
			</div>
	    </td>
	    <td colspan="5"></td>
	</tr>
	<% types = Type.where(rbs_id: @resource_breakdown_structure.id) %>
	<% typeNumber = 0 %>
	<% types.each do |type| %>
	<tr class="info">
		<% typeNumber = typeNumber+1 %>
	    <td><%=typeNumber %></td>
	    <td><%=type.name %></td>
	    <td><% @role = Role.new %>
	    	<div class = "form-inline">
	    		<%= form_for(@role) do |f| %>
  				<%= f.hidden_field :type_id, :value => type.id %> 
  				<div class="form-group">
	  				<div class="field">
	    				<%= f.text_field :name, :class => "form-control input-sm"%>
	  				</div>
  				</div>
	  			<div class="form-group">
	  				<div class="actions">
	  					<%= f.submit "Anlegen", class: "btn btn-xs btn-success" %>
	  				</div>
  				</div>
				<% end %>
			</div>
	    </td>
	    <td colspan="3"></td>
	    <td><%= link_to 'Löschen', type, method: :delete, data: { confirm: 'Sind Sie sicher?' }, :class=> 'btn btn-xs btn-danger' %></td>
	</tr>
	<% roles = Role.where(type_id: type.id) %>
	<% roleNumber = 0 %>
	<% roles.each do |role| %>
	<tr class="warning">
		<% roleNumber = roleNumber+1 %>
	    <td></td>
	    <td><%=typeNumber.to_s+'.'+roleNumber.to_s %></td>
	    <td><%=role.name %></td>
	    <td colspan="3"></td>
	    <td><%= link_to 'Löschen', role, method: :delete, data: { confirm: 'Sind Sie sicher?' }, :class=> 'btn btn-xs btn-danger' %></td>
	</tr>
	<tr>
		<td colspan="3"></td>
		<td><% @resource = Resource.new %>
	    	<div class = "form-inline">
	    		<%= form_for(@resource) do |f| %>
  				<%= f.hidden_field :role_id, :value => role.id %> 
  				<div class="form-group">
	  				<div class="field">
	    				<%= f.text_field :qualification, :class => "form-control input-sm"%>
	    				<td><%= f.text_field :experience, :class => "form-control input-sm"%></td>
	    				<td><%= f.number_field :quantitiy, :class => "form-control input-sm"%></td>
	  				</div>
  				</div>
	  			<div class="form-group">
	  				<div class="actions">
	  					<td><%= f.submit "Anlegen", class: "btn btn-xs btn-success" %></td>
	  				</div>
  				</div>
				<% end %>
			</div>
		</td>
	</tr>
	    <% resources = Resource.where(role_id: role.id) %>
	    <% resourceNumber = 0 %>
	    <% resources.each do |resource| %>
	<tr>
		<% resourceNumber = resourceNumber+1 %>
		<td colspan="2"></td>
	    <td><%=typeNumber.to_s+'.'+roleNumber.to_s+'.'+resourceNumber.to_s %></td>
	    <td><%=resource.qualification %></td>
	    <td><%=resource.experience %></td>
	    <td><%=resource.quantitiy.to_i %></td>
	    <td><%= link_to 'Löschen', resource, method: :delete, data: { confirm: 'Sind Sie sicher?' }, :class=> 'btn btn-xs btn-danger' %></td>
	  </td>
	</tr>	
	<% end %>
	<% end %>
	<% end %>
  </tbody>
</table>