
<h1><%= 'Vorlage für Runde '+@form_template.round.count.to_s %></h1>
<% estimationTemplates = EstimationTemplate.where(form_Template_id: @form_template.id) %>
<table class="table">
	<thead>
		<tr>
			<th>Arbeitspaket</th>
			<th>Kommentar</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% estimationTemplates.each do |estimationTemplate| %>
		<tr>
			<td><%= Workpackage.find_by_id(estimationTemplate.workpackage_id).name %></td>
			<td><%= estimationTemplate.comment %></td>
			<td><%= link_to 'Edit', edit_estimation_template_path(estimationTemplate) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= link_to 'Zurück zur Rundenübersicht', DelphiEstimation.find_by_id(Round.find_by_id(@form_template.round).delphiEstimation_id), class: "btn btn-xs btn-success" %>

