
<h1><%= 'Vorlage für Runde '+@form_template.round.count.to_s %></h1>
<% estimationTemplates = EstimationTemplate.where(form_Template_id: @form_template.id) %>
<table class="table">
	<thead>
		<tr>
			<th>Arbeitspaket</th>
			<th>Kommentar</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% estimationTemplates.each do |estimationTemplate| %>
		<tr>
			<td><%= Workpackage.find_by_id(estimationTemplate.workpackage_id).name %></td>
			<td>
				<div class = "form-inline">
		    		<%= form_for(estimationTemplate) do |f| %>
	  				<div class="form-group">
		  				<div class="field">
		    				<%= f.text_field :comment, :class => "form-control input-sm"%>
		  				</div>
	  				</div>
		  			<div class="form-group">
		  				<div class="actions">
		  					<%= f.submit "Speichern", :id=> 'btn', class: "btn btn-sm btn-success" %>
		  				</div>
	  				</div>
					<% end %>
				</div>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= link_to 'Speichern und zur Rundenübersicht', DelphiEstimation.find_by_id(Round.find_by_id(@form_template.round).delphiEstimation_id), :id=> 'btn', class: 'btn btn-sm btn-success pull-left' %>


